h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-top: 150px;
    color: gray;
}
img{
    height: 60vh;
    float: right;
    width: 70vh;
}
h2{
    text-align: left;
    padding-top: 150px;
    color: red;
}
.details{
    padding: 10px;
    background-color: black;
}
.details p{
    display: inline;
    color: blue;

}
li{
    display: inline;
}
.site-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
    margin-left: 50px;
}
ul{
    font-size: 20px;
}
nav li{
    display: inline-block;
    margin:0 50px;
}
header{
    background-color:black;
    color:crimson;
}
nav a{
    color: crimson;
    text-transform: uppercase;
}
nav a:hover{
    color: crimson;
    background-color: white;

}