h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-top: 150px;
}
img{
    height: 70vh;
    float: right;
    width: 70vh;
}